.table-payment{
    text-align: center;padding:0.0rem;
    margin-bottom: 0px;
    table-layout:fixed;
    height:800px;
}


.table-invoice{
    text-align: center;padding:0.0rem;
    margin-bottom: 0px;
    table-layout:fixed;
    height:800px;
}
.product{
    text-align: left;width: 340px;
    word-wrap:break-all;
    margin-bottom: 0px;
}
.padding1{
    padding-bottom: 5px;
    padding-top: 5px;
}
.padding2{
    padding-top: 5px;
}


.font-size-15{
    font-size: 15px;
}
.font-size-12{
    font-size: 12px;
}
.padding-div-bottom{
    padding-bottom: 15px;
}
.border-solid{
    border: 1px solid #4a5057;
}
.border-radius{
    border-radius:10px;
}
.border-date-top{
    border-right: 1px solid #495057;
    border-bottom: 1px solid #495057;
}
.border-invoice-date {
    border-bottom: 1px solid #495057;
 }
.border-invoice-origin{
    border-right: 1px solid #495057;
}
.height-39{
    height: 39px;
}
.border-thead{
    border-bottom: 1px solid #495057;
    text-align:center;


}

table.my-special-table td{
    padding-bottom:0px;
    padding-top:0px;

    border-right:1px solid #4a5057;

}

tbody > tr > td > p{
    word-wrap:break-all;margin-bottom: 0px;

}

table.my-special-table td:nth-child(2){
     width:70px;

}
table.my-special-table td:nth-child(3){
    width:300px;

}





